@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 93.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

body,td,th {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #333333;
}
body {
	background-color: #ffffff;
	margin:0px;
}
h1 {
	font-size:18px;
}
h2 {
	font-size:16px;
}
.title {
	clear:both;
	text-align:center;
	padding:5px;
}
.title a {
	font-size:18px;
	font-weight:bold;
	color:#F77F03;
	text-decoration:none;
}
a:link {
	color: #003399;
	text-decoration:none;
}
a:visited {
	color: #003399;
	text-decoration:none;
}
a:active,
a:hover {
	color: #EB5826;
	text-decoration:none;
}

/* =Menu
-------------------------------------------------------------- */

#access {

	display: block;
	margin: 0 auto;
	width:100px;
	height:28px;
	z-index:999;
/*border:1px solid #11FB0B;*/
position:absolute;
top:64px; 
left:10px;
}
#access ul{
	display:inline-block;
}
#access .menu-header,
div.menu {
	font-size: 14px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0 0 0 -40px;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color:#404366;
	display: block;
	line-height: 28px;
	padding: 0 7px;
	text-decoration: none;
	
}
#access ul ul {
	display: none;
	position: absolute;
	top: 28px;
	left: 0;
	float: left;
	width: 90px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 90px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #404366;
	line-height: 1em;
	padding: 10px;
	width: 90px;
	height: auto;
	text-align:left;
	font-size:15px;
	color: #fff;
}
#access li:hover > a {
		color: #fff;
		background-color:#a9c281;
}
#access ul ul :hover > a {
	background: #a9c281;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}
#wrapper {
	min-width:320px;
	max-width:480px;
	margin:0 auto;
	background-color:#FFFFFF;
}
.content {
	padding: 0 20px;
	margin:0 auto;
}

#dwarf {
	float:left;
	width:86px;
}
#logo {
	width:234px;
	float:left;
}
#logo img {
	width:234px;
	height:96px;
}

			/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
			
			@media only screen and (min-width: 481px) {
			
			.gridContainer {
				width: 90.675%;
				padding-left: 1.1625%;
				padding-right: 1.1625%;
				clear: none;
				float: none;
				margin-left: auto;
			}
			#div1 {
			}
			.zeroMargin_tablet {
				margin-left: 0;
			}
			.hide_tablet {
				display: none;
			}
			
			#dwarf {
				float:left;
				width:129px;
			}
			#logo {
				width:351px;
				float:left;
			}
			#logo img {
				width:351px;
				height:144px;
			}
			
			#access {
				width:300px;
				height:41px;
				top:96px; 
				left:10px;
				position:absolute;
			}
			
			#access ul{
				display:inline-block;
			}
			#access .menu-header,
			div.menu {
				font-size: 14px;
			}
			#access .menu-header ul,
			div.menu ul {
				list-style: none;
				margin: 0 0 0 -40px;
			}
			#access .menu-header li,
			div.menu li {
				float: left;
				position: relative;
			}
			#access a {
				color:#404366;
				display: block;
				line-height: 41px;
				padding: 0 7px;
				text-decoration: none;
				
			}
			#access ul ul {
				display: none;
				position: absolute;
				top: 41px;
				left: 0;
				float: left;
				width: 100px;
				z-index: 99999;
			}
			#access ul ul li {
				min-width: 100px;
			}
			#access ul ul ul {
				left: 100%;
				top: 0;
			}
			#access ul ul a {
				background: #404366;
				line-height: 1em;
				padding: 10px;
				width: 100px;
				height: auto;
				text-align:left;
				font-size:15px;
				color: #fff;

			}
			#access li:hover > a {
					color: #fff;
					background-color:#a9c281;
			}
			#access ul ul :hover > a {
				background: #a9c281;
				color: #fff;
			}
			#access ul li:hover > ul {
				display: block;
			}
			#access ul li.current_page_item > a,
			#access ul li.current-menu-ancestor > a,
			#access ul li.current-menu-item > a,
			#access ul li.current-menu-parent > a {
				color: #fff;
			}
			* html #access ul li.current_page_item a,
			* html #access ul li.current-menu-ancestor a,
			* html #access ul li.current-menu-item a,
			* html #access ul li.current-menu-parent a,
			* html #access ul li a:hover {
				color: #fff;
			}
						
						
			}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

						@media only screen and (min-width: 769px) {
						
						.gridContainer {
							width: 88.5%;
							max-width: 769px;
							padding-left: 0.75%;
							padding-right: 0.75%;
							margin: auto;
							clear: none;
							float: none;
							margin-left: auto;
						}
						#div1 {
						}
						.zeroMargin_desktop {
							margin-left: 0;
						}
						.hide_desktop {
							display: none;
						}
						
						#dwarf {
							float:left;
							width:172px;
						}
						#logo {
							width:468px;
							float:left;
						}
						#logo img {
							width:468px;
							height:191px;
						}
						
						#access {
							width:400px;
							height:56px;
							top:127px; 
							left:15px;
							position:absolute;
						}
						
						#access ul{
							display:inline-block;
						}
						#access .menu-header,
						div.menu {
							font-size: 18px;
						}
						#access .menu-header ul,
						div.menu ul {
							list-style: none;
							margin: 0 0 0 -40px;
						}
						#access .menu-header li,
						div.menu li {
							float: left;
							position: relative;
						}
						#access a {
							transition:color 1s;
							color:#404366;
							display: block;
							line-height: 56px;
							padding: 0 27px;
							text-decoration: none;
							
						}
						#access ul ul {
							display: none;
							position: absolute;
							top: 56px;
							left: 0;
							float: left;
							width: 100px;
							z-index: 99999;
						}
						#access ul ul li {
							min-width: 100px;
						}
						#access ul ul ul {
							left: 100%;
							top: 0;
						}
						#access ul ul a {
							background: #404366;
							line-height: 1em;
							padding: 10px;
							width: 100px;
							height: auto;
							text-align:left;
							font-size:18px;
							color: #fff;

						}
						#access li:hover > a {
							transition:color 1s, box-shadow 2s ease 1s;
							box-shadow:4px 10px 10px 10px #079E04;
								color: #fff;
								background-color:#a9c281;
								display:block;
						}
						#access ul ul :hover > a {
							background: #a9c281;
							color: #fff;
						}
						#access ul li:hover > ul {
							display: block;
						}
						#access ul li.current_page_item > a,
						#access ul li.current-menu-ancestor > a,
						#access ul li.current-menu-item > a,
						#access ul li.current-menu-parent > a {
							color: #fff;
						}
						* html #access ul li.current_page_item a,
						* html #access ul li.current-menu-ancestor a,
						* html #access ul li.current-menu-item a,
						* html #access ul li.current-menu-parent a,
						* html #access ul li a:hover {
							color: #fff;
						}
						
						}
/* END Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

#dwarf a:hover {
/* Chrome, Safari, Opera */

position:relative;
-webkit-animation:myfirst 0.5s linear 0s infinite alternate; /* Chrome, Safari, Opera */
animation:myfirst 0.5s linear 0s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
0%   {left:0px; top:0px;}
25%  {left:1px; top:6px;}
50%  {left:0px; top:13px;}
75%  {left:0px; top:6px;}
100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst
{
0%   {left:0px; top:0px;}
25%  {left:1px; top:6px;}
50%  {left:0px; top:13px;}
75%  {left:0px; top:6px;}
100% {left:0px; top:0px;}
}


#logo {
	position:relative;
}



.clear {
	clear:both;
	line-height:0;
	height:0;
}